*  {
    margin: 0;
    padding: 0;
}

.main-container  {
     height: 100vh;
     width: 100vw;
     display: grid;
     grid-template-columns: 3fr 1fr;
     overflow: hidden;
}


.tour-list  {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    background-color: #21239c;
    text-align: center;
}

.tour-list p  {
    font-size: 1.7rem;
    color: white;
    line-height: 6rem;
    font-family: sans-serif;
    font-weight: bold;
    border-left: 0.1rem solid #21239c;
    background-color: #0f1288;
}

.tour-list ul  {
    list-style: none;
}

.tour-list li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 4rem;
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    box-sizing: border-box;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.tour-list a:hover  {
    padding-left: 1rem;
    border-left: 0.2rem solid white;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.display-board  {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background-color: #CAF0F8;
    display: grid;
}

.container  {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr 1fr;
}

.tour-name  {
    grid-row: 1/2;
    display: grid;
    text-align: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background-color: #03045E;
}

.winners  {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.cards  {
    background-color: #21239c;
    height: 26.75vw;
    width: 19vw;
    display: grid;
    grid-template-rows: 5fr 4fr 1fr;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.img-display  {
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 60px 0px;
    background-color: white;
    box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.5);
    
}

.img-display img  {
    height: 18vw;
    align-self: center;
    position: absolute;
    transform: translateY(-4.6vw);
    margin-left: 1vw;
}


.social  {
    grid-row: 3/4;
    display: inline-flex;
    align-items: flex-end;
    transition: 2s;
}

.social img  {
    height: 15px;
    filter: invert(1);
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.details {
    color: white;
    font-size: 1vw;
    font-family: sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.details h1  {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
}

.tour-timeline  {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #03045E;
    text-transform: uppercase;
}

.date  {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: flex-start;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #03045E;
    text-transform: uppercase;
}


@media only screen and (orientation: portrait) {

    
.main-container  {
     grid-template-columns: 1fr;
     grid-template-rows: 4fr 1fr;
}


.tour-list  {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.tour-list p  {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1rem;
    line-height: 3rem;
}

.tour-list ul  {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.tour-list li a {
    line-height: 3rem;
    font-size: 0.9rem;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.tour-list a:hover  {
    padding-left: 0.5rem;
    border-left: 0.1rem solid white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.display-board  {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 75vh;
}

.container  {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 1fr;
}


.tour-name  {
    font-size: 1.4rem;
}

.winners  {
    margin-top: 1rem;
}


.cards  {
    height: 37.75vw;
    width: 25vw;
}

.img-display  {
    border-radius: 10px 10px 45px 0px;
    box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.5);
}

.img-display img  {
    height: 22vw;
    transform: translateY(-3vw);
    margin-left: 1.5vw;
}

.social img  {
    height: 10px;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.details {
    font-size: 1.8vw;
    margin-top: 0.5rem;
    line-height: -1rem;
}

.details h1  {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.tour-timeline  {
    align-items: flex-end;
    font-size: 0.9rem;
}

.date  {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

}